#datalist_container {
}
#datalist_header {
	height: 20px;
	background-color: #E0E0E0;
}
#datalist_header td {
	border-bottom: 1px solid #A0A0A0;
}
#datalist_fields_area {
	padding-top: 2px;
}
#datalist_data_area {
	padding-top: 2px;
}
.datalist_fields_section {
	border: 1px solid black;
	margin-bottom: 5px;
	margin-right: 2px;
	margin-left: 2px;
}
.datalist_fields_section_title {
	background-color: #A0A0F0;
	border-bottom: 1px solid black;
	padding: 2px;
}
.datalist_fields_section_content {
}
tr.datalist_fields_category {
	background-color: #D0D0FF;
}
tr.datalist_fields_0 {
	background-color: #FFFFFF;
}
tr.datalist_fields_1 {
	background-color: #E8E8FF;
}
.datalist_separator {
	width: 2px;
	background-color: #A0A0A0;
	cursor: move;
}