html, body, table {
	font-family: Tahoma;
	font-size: 10pt;
}
html, body {
	height: 100%;
	margin: 0px;
}
.header {
	height: 25px;
	/* background-color: #A0A0F0; */
	background: #c0c0f0; /* Old browsers */
	background: -moz-linear-gradient(top,  #c0c0f0 50%, #9898c8 85%, #686898 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#c0c0f0), color-stop(85%,#9898c8), color-stop(100%,#686898)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #c0c0f0 50%,#9898c8 85%,#686898 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #c0c0f0 50%,#9898c8 85%,#686898 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #c0c0f0 50%,#9898c8 85%,#686898 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #c0c0f0 50%,#9898c8 85%,#686898 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0c0f0', endColorstr='#686898',GradientType=0 ); /* IE6-9 */
}
.page {
}
.footer {
	height: 15px;
	background-color: #C0C0C0;
}
.footer td {
	border-top: 1px solid black;
	font-size: 8pt;
	font-style: italic;
}
.page_header {
	height: 35px;
	background: #d0d0d0; /* Old browsers */
	background: -moz-linear-gradient(top,  #d0d0d0 66%, #a0a0a0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(66%,#d0d0d0), color-stop(100%,#a0a0a0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #d0d0d0 66%,#a0a0a0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #d0d0d0 66%,#a0a0a0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #d0d0d0 66%,#a0a0a0 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #d0d0d0 66%,#a0a0a0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0d0d0', endColorstr='#a0a0a0',GradientType=0 ); /* IE6-9 */
}
.page_header_title {
	padding: 2px 6px 2px 3px;
	margin-right: 10px;
	font-size: 12pt;
	font-weight: bold;
	color: #4040A0;
	float: left;
	height: 100%;
	border-right: 1px solid rgba(255,255,255,0.5);
	border-bottom-right-radius: 10px;
	background-color: rgba(255,255,255,0.2);
}
.page_header_title img {
	vertical-align: middle;
}
.page_header_content {
	font-size: 10pt;
	font-weight: bold;
	color: #4040A0;
	padding-top: 5px;
}
#popup_page {
	box-shadow: 0 0 10px 3px #A0A0D0;
}
.popup_page {
	background-color: white;
	border: 1px solid black;
	width: 100%;
	height: 100%;
}
.popup_page tr:first-of-type {
	background-color: #A0A0D0;
	height: 20px;
}
.popup_page tr:first-of-type td {
	padding: 2px;
	color: white;
	font-weight: bold;
	text-shadow: black 0.1em 0.1em 0.2em;
	border-bottom: 1px solid #000080;
}
.popup_page tr:first-of-type td+td {
	width: 20px;
	cursor: pointer;
	background-image: url("/static/application/close.png");
	background-position: 0px;
	background-repeat: no-repeat;
}
