html, body, table {
	font-family: Tahoma;
	font-size: 10pt;
}
html, body {
	height: 100%;
	margin: 0px;
}
#application_header {
	position: fixed;
	top: 0px;
	height: 28px;
	/* background-color: #A0A0F0; */
	background: #c0c0f0; /* Old browsers */
	background: -moz-linear-gradient(top,  #c0c0f0 50%, #9898c8 85%, #686898 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,#c0c0f0), color-stop(85%,#9898c8), color-stop(100%,#686898)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #c0c0f0 50%,#9898c8 85%,#686898 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #c0c0f0 50%,#9898c8 85%,#686898 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #c0c0f0 50%,#9898c8 85%,#686898 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #c0c0f0 50%,#9898c8 85%,#686898 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c0c0f0', endColorstr='#686898',GradientType=0 ); /* IE6-9 */
}
.application_menu_item {
	font-size: 11pt;
	font-weight: bold;
	color: #4040A0;
	cursor: pointer;
	position: relative;
	padding-left: 2px;
	padding-right: 2px;
}
.application_menu_item img {
	vertical-align: bottom;
	margin-right: 3px;
}
.application_header_section {
	padding: 2px;
	border-left: 1px solid #8080C0;
}
#application_footer {
	height: 15px;
	background-color: #C0C0C0;
	border-top: 1px solid black;
	font-size: 8pt;
	font-style: italic;
	text-align: center;
	position:fixed;
	bottom: 0px;
	width:100%;
}
#application_content {
	border: 0px;
	margin: 0px;
	padding: 0px;
	position: fixed;
	top: 28px;
}
.page_header {
	height: 35px;
	background: #d0d0d0; /* Old browsers */
	background: -moz-linear-gradient(top,  #d0d0d0 66%, #a0a0a0 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(66%,#d0d0d0), color-stop(100%,#a0a0a0)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #d0d0d0 66%,#a0a0a0 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #d0d0d0 66%,#a0a0a0 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #d0d0d0 66%,#a0a0a0 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #d0d0d0 66%,#a0a0a0 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0d0d0', endColorstr='#a0a0a0',GradientType=0 ); /* IE6-9 */
}
.page_header table {
	border-collapse: collapse;
	border-spacing: 0px;
	border: 0px;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}
.page_header table td {
	padding: 0px;
	white-space: nowrap;
	vertical-align: top;
}
.page_header table td+td {
	width: 100%;
}
.page_header_title {
	height: 31px;
	padding: 2px 6px 2px 3px;
	margin-right: 10px;
	font-size: 12pt;
	font-weight: bold;
	color: #4040A0;
	border-right: 1px solid rgba(255,255,255,0.5);
	border-bottom-right-radius: 10px;
	background-color: rgba(255,255,255,0.2);
}
.page_header_title img {
	vertical-align: middle;
}
.page_header_content {
	height: 35px;
	font-size: 10pt;
	font-weight: bold;
	color: #4040A0;
	padding-top: 5px;
}
.page_header_content .page_header_item {
	cursor: pointer;
}
.page_header_content .page_header_item:hover {
	color: #6060C0;
}
.page_header_content img {
	vertical-align:bottom;
	border: 0px;
}
.page_header_content a,a:visited {
	color: #4040A0;
	text-decoration: none;
}
.page_header_content a:hover {
	color: #6060C0;
}
.page_header_content .page_menu_item {
	padding-left: 5px;
}
.page_content {
	position: fixed;
	top: 35px;
}
.sub_page_header {
	background-color: #D0D0FF;
	color: #4040A0;
	border-bottom: 1px solid #8080F0;
	padding: 2px;
	height: 35px;
}
.sub_page_header_title {
	border-right: 1px solid #4040A0;
	padding-right:5px;
	margin-right:5px;
	font-size: 12pt;
}
.sub_page_header table {
	border-collapse: collapse;
	border-spacing: 0px;
	border: 0px;
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
}
.sub_page_header table td {
	padding: 0px;
	white-space: nowrap;
	vertical-align: top;
}
.sub_page_header table td+td {
	width: 100%;
}
button img {
	vertical-align: bottom;
}
.button {
	cursor: pointer;
	border: 1px solid rgba(0,0,0,0.2);
	padding: 2px;
	border-radius: 3px;
	box-shadow: 1px 1px 1px rgba(170,170,170,0);
	display: inline-block;
	margin: 1px 2px 1px 2px;
	background-color: rgba(255,255,255,0.2);
}
.button:hover {
	border: 1px solid rgba(0,0,0,0.5);
	box-shadow: 1px 1px 1px rgba(170,170,170,1);
}
.button:active {
	box-shadow: 0px 0px 0px;
	margin: 2px 1px 0px 3px;
}
.button img {
	vertical-align: bottom;
}